@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

@theme {
  /* === Breakpoints - Take effect at the specified breakpoint and above === */
  --breakpoint-xs: 421px;
  --breakpoint-sm: 541px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1441px;
  --breakpoint-3xl: 1921px;
  --breakpoint-hi-res: "(min-resolution: 1.5dppx), (min-resolution: 144dpi)";
  --breakpoint-low-res: "(max-resolution: 1.5dppx), (max-resolution: 144dpi)";

  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}